<!DOCTYPE html>
<html lang="en">

<style>
    body {
            background-color: rgb(199, 131, 82);
            font-family: 'aboreto';
            font-size: 18px;
            color: rgb(238, 233, 208);

        }
        img {
            width: 385px;
            height: 350px;
            border: 10px solid;
            border-bottom-width: 110px;
            border-color: rgb(4, 5, 80);
        }
    
</style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show page </title>
</head>

<body>
    <main class="show-main">
        <nav>
            <form action="/coffee/<%= coffees._id %>?_method=DELETE" method="post">
                <input type="submit" value="DELETE" />
                <button><a href="/coffee/<%= coffees._id %>/edit">EDIT</a></button>
            </form>
        </nav>
        <h1>
            <%= coffees.name %> %>
        </h1>
    </main>
    <h3>Price: <%= coffees.price %><br />
            Milk: <%= coffees.milk %><br />
                Flavors: <%= coffees.flavors %><br />
                Toppings: <%= coffees.toppings %><br />
                Espresso: <%= coffees.espresso %><br />
                <a href="/coffee/<%= coffees._id %>"><img src=<%=coffees.img %>></a>
               
                

    </h3>
    

</body>

</html>