<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show page </title>
</head>

<body>
    <main class="show-main">
        <nav>
            <form action="/coffee/<%= coffees._id %>?_method=DELETE" method="post">
                <input type="submit" value="DELETE" />
                <a href="/coffee/<%= coffees._id %>/edit">EDIT</a>
            </form>
        </nav>
        <h1>
            <%= coffees.name %> %>
        </h1>
    </main>
    <h3>Price: <%= coffees.price %><br />
            Milk: <%= coffees.milk %><br />
                Flavors: <%= coffees.flavors %><br />
    </h3>

</body>

</html>