<!DOCTYPE html>
<html lang="en">

<style>
    body {
        background-color: rgb(235, 230, 208);
        font-family: 'aboreto';
        font-size: 18px;
        color: rgb(37, 48, 97);
        /* margin-top: 10px; */

    }

    img {
        width: 385px;
        height: 350px;
        border: 10px solid;
        border-bottom-width: 110px;
        border-color: rgb(2, 3, 91);

    }
    form {
        justify-content: center;
        display: flex;
    }

    .flex-container {
        justify-content: center;
        display: flex;
        font-size: 30px;
        margin: 50px
        /* flex-direction: column; */
    }
    .ingredients {
        justify-content: center;
        display: flex;
    }
    nav {
            width: 100%;
            height: 270px;
            background-color: rgb(238, 219, 206);
            opacity: 0.9;
        }
    .A1 {
            transform: translate(22px, 72px) rotate(-30deg);
        }

        .e1 {
            transform: translate(13px, 57px) rotate(-25deg);
        }

        .e2 {
            transform: translate(6px, 38px) rotate(-20deg);
        }

        .k1 {
            transform: translate(3px, 23px) rotate(-15deg);
        }

        .s1 {
            transform: translate(2px, 14px) rotate(-10deg);
        }

        .f {
            transform: translate(1px, 8px) rotate(-5deg);
        }

        .o {
            transform: translate(0px, 5px) rotate(0deg);
        }

        .r {
            transform: translate(-1px, 11px) rotate(5deg);
        }

        .G2 {
            transform: translate(-2px, 17px) rotate(10deg);
        }

        .e3 {
            transform: translate(-3px, 28px) rotate(15deg);
        }

        .e4 {
            transform: translate(-6px, 47px) rotate(20deg);
        }

        .k2 {
            transform: translate(-17px, 70px) rotate(25deg);
        }

        .s2 {
            transform: translate(-20px, 80px) rotate(30deg);
        }
        span {
            display: inline-block;
        }
</style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show page </title>
</head>
<nav>
    <div style="text-align: center; padding-top: 10px;
                font-size: 55px; color: rgb(28, 5, 97);">

        <!-- Declare all the characters of text 
            one-by-one, inside span tags -->
            <span class="A1">A</span>
            <span class="e1">•</span>
            <span class="e2">B</span>
            <span class="k1">a</span>
            <span class="s1">r</span>
            <span class="k2"></span>
            <span class="f">M</span>
            <span class="o">a</span>
            <span class="r">n</span>
            <span class="G2">a</span>
            <span class="e3">g</span>
            <span class="e4">e</span>
            <span class="k2">r</span>
    </div>
</nav>
<body>
    <div class="flex-container">
        <%= coffees.name %>
    </div>
    <div class="ingredients">
        <h4>Price: <%= coffees.price %><br />
                Milk: <%= coffees.milk %><br />
                    Flavors: <%= coffees.flavors %><br />
                        Toppings: <%= coffees.toppings %><br />
                            Espresso: <%= coffees.espresso %><br />
                                <a href="/coffee/<%= coffees._id %>"><img src=<%=coffees.img %>></a>
        </h4>
    </div>
    <form action="/coffee/<%= coffees._id %>?_method=DELETE" method="post">
        <input type="submit" value="DELETE" />
    </form>
    <button><a href="/coffee/<%= coffees._id %>/edit">EDIT</a></button>


</body>

</html>